body {
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: #e0e0e0;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

.page-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.post, .comment-section {
    max-width: 100%;
    word-wrap: break-word;
    word-break: break-word;
    overflow-wrap: anywhere;
    white-space: normal;
    overflow: hidden;
    box-sizing: border-box;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #444;
    background-color: #1e1e1e;
    border-radius: 5px;
}

p {
    margin: 5px 0;
}

.comment-section {
    padding-left: 20px;
}

.post-tags .tag {
    display: inline-block;
    background-color: #6200ea;
    color: white;
    padding: 5px 10px;
    border-radius: 12px;
    font-size: 12px;
    margin-right: 5px;
}

button {
    background-color: #6200ea;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #3700b3;
}

textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #444;
    background-color: #1e1e1e;
    color: #e0e0e0;
    border-radius: 5px;
    resize: vertical;
}

textarea, button {
    max-width: 100%;
    box-sizing: border-box;
}

.edit-delete-buttons {
    margin-top: 10px;
}
.edit-delete-buttons form {
    display: inline;
    margin-right: 10px;
}


.header-buttons .profile-button {
    align-items: center;
    background: none;
    border: none;
    cursor: pointer;
    color: #333;
    font-size: 16px;
}

.header-buttons .profile-icon {
    width: 15px;
    height: 15px;
    filter: brightness(0) invert(1); /* Сделать белым */
    transition: transform 0.3s ease; /* Добавить анимацию */
}

