body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #121212;
    color: #e0e0e0;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

.page-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main-layout {
    display: flex;
    margin-top: 20px;
}

.sidebar {
    width: 25%;
    background-color: #1e1e1e;
    border: 1px solid #333;
    padding: 15px;
    border-radius: 8px;
    box-sizing: border-box;
}

.content {
    width: 70%;
    margin-left: 5%;
}

.post {
    background-color: #1e1e1e;
    border: 1px solid #333;
    margin-bottom: 15px;
    padding: 15px;
    border-radius: 8px;
    overflow-wrap: break-word; /* Переносит длинные слова */
    word-break: break-word; /* Дополнительный перенос */
    max-width: 100%; /* Устанавливает ограничение по ширине */
    box-sizing: border-box;
}

.post-tags .tag {
    display: inline-block;
    background-color: #6200ea;
    color: white;
    padding: 5px 10px;
    border-radius: 12px;
    font-size: 12px;
    margin-right: 5px;
}

textarea {
    max-width: 100%; 
    box-sizing: border-box;
    word-wrap: break-word;
    word-break: break-word;
}

button {
    background-color: #6200ea;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #3700b3;
}

.read-more {
    color: #6200ea;
    text-decoration: none;
}

.read-more:hover {
    text-decoration: underline;
}

/* Стиль для фона модального окна */
.modal {
    display: none; /* Изначально скрыто */
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Прозрачный черный фон */
    overflow: auto; /* Если содержимое превышает размер окна */
}

/* Стиль для самого модального окна */
.modal-content {
    position: absolute;
    top: 50%; /* Центрируем вертикально */
    left: 50%; /* Центрируем горизонтально */
    transform: translate(-50%, -50%); /* Сдвигаем по осям, чтобы центрировать */
    background-color: #1e1e1e;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 400px; /* Ширина модального окна */
    max-width: 90%; /* Для адаптивности */
}

.close-button {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close-button:hover,
.close-button:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
