<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/index.css">
    <link rel="stylesheet" href="/static/header.css">
    <link rel="stylesheet" href="/static/footer.css">
    <title>Forum - Home</title>
</head>
<body>
    <div class="page-container">
        <header class="header">
            <div class="container">
                <h1><a href="/">Forum</a></h1>
                <nav>
                    {{if .LoggedIn}}
                        <div class="header-buttons">
                            <button class="notification-button" onclick="openNotificationsModal()">
                                <img src="/static/icons/notification.png" class="notification-icon">
                                <span class="notification-count">{{.UnreadNotificationsCount}}</span>
                            </button>
                            <button onclick="window.location.href='/profile'" class="profile-button">
                                <img src="/static/icons/profile-user.png" alt="Profile" class="profile-icon">
                            </button>
                        </div>
                    {{else}}
                        <div class="header-buttons">
                            <button onclick="window.location.href='/login'">Login</button>
                            <button onclick="window.location.href='/register'">Register</button>
                        </div>
                    {{end}}
                </nav>
            </div>
        </header>

        <div class="main-layout container">
            <aside class="sidebar">
                {{if .LoggedIn}}
                    <p>Hello, {{.Username}}!</p>
                {{else}}
                    <p>Hello, Guest!</p>
                {{end}}
                <br>
                <h2>Filter categories</h2>
                <form method="get" action="/">
                    <select id="category" name="category" onchange="this.form.submit()">
                        <option value="">All Categories</option>
                        {{range .Categories}}
                            <option value="{{.ID}}" {{if eq .ID $.SelectedCategory}}selected{{end}}>{{.Name}}</option>
                        {{end}}
                    </select>
                </form>
                <br>        
                {{if .LoggedIn}}
                    <h2>Create a New Post</h2>
                    <button onclick="openModal()" style="margin-top: 20px; padding: 10px 20px; background-color: #6200ea; color: white; border: none; border-radius: 8px; cursor: pointer;">Create New Post</button>
                {{end}}
            </aside>

            <main class="content">        
                <h2>Posts</h2>
                {{if .Posts}}
                    {{range .Posts}} 
                    <div class="post">
                        <p>{{.Content}}</p>
                        <p>By <strong>{{.Author}}</strong> on {{.CreatedAtFormatted}}</p>
                        <div class="post-tags">
                            {{range .Categories}}
                            <span class="tag">{{.}}</span>
                            {{end}}
                        </div>
                        <p>
                            <form action="/like" method="post" style="display: inline;">
                                <input type="hidden" name="post_id" value="{{.ID}}">
                                <button type="submit" style="background: none; border: none; color: #007BFF; cursor: pointer; font-size: 0.9rem;">Like</button>
                            </form> {{.Likes}}
                            <form action="/dislike" method="post" style="display: inline;">
                                <input type="hidden" name="post_id" value="{{.ID}}">
                                <button type="submit" style="background: none; border: none; color: #007BFF; cursor: pointer; font-size: 0.9rem;">Dislike</button>
                            </form> {{.Dislikes}}
                        </p>
                        <p><a href="/post?id={{.ID}}" class="read-more">View Comments</a></p>
                    </div>
                    {{end}} 
                {{else}}
                    <p>No posts available.</p>
                {{end}}
            </main>
        </div>

        <footer class="footer">
            <p>&copy; 2024 Forum</p>
        </footer>
    </div>

    <!-- Modal for notifications -->
    <div id="notificationsModal">
        <span class="close-button" onclick="closeNotificationsModal()">&times;</span>
        <h3 style="text-align: center; margin-bottom: 10px;">Notifications</h3>
        <div id="notificationsList">
            {{if .Notifications}}
                {{range .Notifications}}
                    <div class="notification-item">
                        <p>{{.GetMessage}}</p>
                        <span class="mark-read" onclick="markAsRead(this, '{{.ID}}')">&times;</span>
                    </div>                
                {{end}}
            {{else}}
                <p style="text-align: center;">No notifications available.</p>
            {{end}}
        </div>
        <div class="notification-actions">
            <button onclick="markAllAsRead()">Mark All as Read</button>
        </div>
    </div>
    

    <!-- Modal for creating a new post -->
    <div id="createPostModal" class="modal">
        <div class="modal-content">
            <span class="close-button" onclick="closeModal()">&times;</span>
            <h2>Create a New Post</h2>
            <form method="post" action="/create_post">
                <label style="font-weight: bold; margin-bottom: 10px; display: block;">Choose categories:</label>
                <div style="margin-bottom: 15px;">
                    {{range .Categories}}
                        <div style="margin-bottom: 5px;">
                            <input type="checkbox" name="categories" value="{{.ID}}" id="category_{{.ID}}">
                            <label for="category_{{.ID}}">{{.Name}}</label>
                        </div>
                    {{end}}
                </div>
                <label for="modal-content" style="font-weight: bold; margin-bottom: 10px; display: block;">Post Content:</label>
                <textarea id="modal-content" name="content" rows="6" style="width: 100%; resize: none; padding: 10px; border-radius: 5px; border: 1px solid #ccc;" placeholder="What's on your mind?" required></textarea>
                <button type="submit" style="margin-top: 15px; padding: 10px 20px; background-color: #6200ea; color: white; border: none; border-radius: 8px; cursor: pointer;">Create Post</button>
            </form>
        </div>
    </div>

    <script>
        function openModal() {
            document.getElementById("createPostModal").style.display = "block";
        }

        function closeModal() {
            document.getElementById("createPostModal").style.display = "none";
        }

       function markAsRead(element, notificationID) {
            fetch('/notifications/mark-as-read', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded',
                },
                body: `notification_id=${notificationID}`
            })
            .then(response => {
                if (response.ok) {
                    // Удаляем элемент из DOM
                    const notificationItem = element.parentElement;
                    notificationItem.remove();
                } else {
                    alert("Failed to mark notification as read.");
                }
            })
            .catch(error => {
                console.error("Error:", error);
                alert("An error occurred.");
            });
        }


        // Изменить положение окна уведомлений
        function openNotificationsModal() {
            const modal = document.getElementById("notificationsModal");
            modal.style.display = "block";
        }

        // Закрыть окно уведомлений
        function closeNotificationsModal() {
            const modal = document.getElementById("notificationsModal");
            modal.style.display = "none";
        }

        // Отметить все как прочитанные
        function markAllAsRead() {
            fetch('/notifications/mark-all-as-read', {
                method: 'POST',
            })
            .then(response => {
                if (response.ok) {
                    // Удаляем все уведомления из DOM
                    const notifications = document.querySelectorAll(".notification-item");
                    notifications.forEach(notification => notification.remove());
                } else {
                    alert("Failed to mark all notifications as read.");
                }
            })
            .catch(error => {
                console.error("Error:", error);
                alert("An error occurred.");
            });
        }

        // Обновлять количество каждые 30 секунд
        setInterval(updateNotificationCount, 30000);

        // Загрузить сразу при загрузке страницы
        updateNotificationCount();
        
        document.querySelectorAll(".mark-as-read").forEach(button => {
            button.addEventListener("click", function () {
                const notificationId = this.dataset.notificationId;

                fetch("/notifications/mark-as-read", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/x-www-form-urlencoded",
                    },
                    body: `notification_id=${notificationId}`,
                })
                .then(response => {
                    if (response.ok) {
                        // Успешно обновлено, обновляем счётчик
                        return fetch("/notifications/unread-count");
                    } else {
                        console.error("Error marking notification as read");
                    }
                })
                .then(response => response.json())
                .then(data => {
                    document.getElementById("unread-count").textContent = data.unreadCount;
                })
                .catch(error => console.error("Error fetching unread count:", error));
            });
        });


        window.onclick = function(event) {
            const createPostModal = document.getElementById("createPostModal");
            const notificationsModal = document.getElementById("notificationsModal");
            if (event.target === createPostModal) {
                closeModal();
            } else if (event.target === notificationsModal) {
                closeNotificationsModal();
            }
        };


    </script>
</body>
</html>
